@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&display=swap');
.div-principale{
    width: 100%;
    height: 100%;
    background: rgb(255,102,0);
}
.logo-img{
    width: 50%;
}
.menu{
    border: solid 0.1px black;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}
.menu-args span{
    font-size: large;
    padding-right: 10px;
    text-align: center;
}
.menu-args img{
    width: 20%;
}
.menu-args a{
    text-decoration: none;
    font-size: medium;
    color: black;
    position: relative;
    display: inline-block;
    transition: .3s;
    font-size: x-large;
    font-style: bold;
    font-family: 'Smooch Sans', sans-serif;
}
.menu-args a::after {
    position: absolute;
    bottom: .3em;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color:white;
    opacity: 0;
    transition: .3s;
    }
.menu-args a:hover::after {
    bottom: 0;
    opacity: 1;
    }
.menu-args a:hover {
    color:white;
    }
.services{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: solid .1px black;
    border-left: none;
    border-right: none;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;
    color: #000000;
} 
.services p{
    padding-top: 2rem;
}
.services a{
    color: #000000;
}   
.services a:hover{
    color: white;
    transition: .5s;
}
.brand-grid{
    text-align: center;
    padding-bottom: 2.5rem;
}
.brand-grid img{
    padding-bottom: 5px;
}
.footer{
    position: relative;
    font-size: 12px;
    bottom: 0;
    line-height: 60px;
    font-size: 14px;
    color: #000000;
    text-align: center;
    border: solid .1px #000000;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.footer a{
    color: #000000;
}
.footer a:hover {
      text-decoration: none;
      color: white;
      border-bottom: 1px solid;
      border-bottom: 1px transparent;
      transition: .5s;
}
.footer svg:hover{
      color: white;
      transition: .5s;
}
.orange-bk{
    background-color: rgb(136, 60, 9);
}
@media screen and (max-width: 768px) {
    .div-principale {
      width: 100%;
      left: auto;
      right: auto;
      margin-left: auto;
    }
    .menu-args img{
        width: 50%;
    }
  }
